@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: white;
}

body {
    background-color: #111;
}

h1 {
    line-height: 35px;
}

p {
    line-height: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 50px 50px 50px;

    background-color: #111;
}
.made-by p {
    color: white;
}


.card-plus-letter {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    gap: 10px;
    
}

#direita {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#span-direita {
    background-color: #90715C;
    transition: 0.3s;
}

#span-direita:hover {
    background-color: #111;
    cursor: pointer;
}

#span-direita2 {
    background-color: #90715C;
    transition: 0.3s;
}

#span-direita2:hover {
    background-color: #111;
    cursor: pointer;
}

.name-cat {
    transition: 0.5s;
    color: white;
}

.name-cat:hover {
    background-color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    color: #111;
    font-weight: 500;
}



.card-plus-letter span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;

    border: 3px solid white;
    border-radius: 100%;
}

.card-plus-letter p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.section-1 {
    display: flex;
    flex-direction: row;
    height: 15vh;
    margin-bottom: 0px !important;
}

.section-1 .top-image {
    width: 50%;

}

.section-1 .top-image img {
    width: 100%;
    height: 75vh;
    border-radius: 0px 7px 7px 0px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.section-1 .top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 75vh;
    padding: 25px 0;
    background-color: #111;

}

.section-1 .top-menu h1 {
    width: 85%;
    font-size: 30px;
    margin: 20px 0px;

    color: white;
}

.section-1 .top-menu p {

    width: 85%;
    color: white;

}

.cats-bibi {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 85%;

    margin-top: 50px;
}



.cats-bibi button {
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    
    padding: 10px;
    width: 150px;
}

.section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 100px;
    width: 100%;
    position: relative;
    
}


.section-center nav{
    width: 100%;
    height: 150px;
    background-color: #ffff;
    position: absolute;
    top: 40%;

    color: #111;
    font-size: 90px;
    text-align: center;
    font-weight: 800;
    
}

.section-center .muie {
    z-index: 1;
    position: relative;
    
}

.section-center .muie .img{
    width: 550px;
    border-radius: 7px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    

}

video {
    width: 100%; /* Defina a largura desejada */
    height: 75vh; /* Defina a altura desejada */
    object-fit: cover; /* Garante que o vídeo preencha a área */
    display: block; /* Evita margens inesperadas */
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.section-3 {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.menu-3-a {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;

    width: 50%;
}

.menu-3-a nav {
    width: 80%;
    height: 1px;
    background-color: white;
    margin: 15px 0;
}

.menu-3-a div {

    display: flex;
    flex-direction: row;
    

}

.menu-3-a div a {

    margin-left: 10px;
    

}

.menu-3-a input {
    
    margin: 30px 0;
    outline: none;
    border-radius: 50px;
    border: 2px solid white;
    padding: 15px 15px;
    width: 300px;
    background-color: transparent;

}


.menu-3-a p {

    width: 600px;
    

}

.menu-3-b {
    width: 50%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 50px 50px;
    width: 100%;
}

.card-cat {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    
}

#direita {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#span-direita {
    background-color: #90715C;
}

.card-cat span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;

    border: 3px solid white;
    border-radius: 100%;
}

@media only screen and (max-width: 414px) {
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        padding: 50px 30px 50px;
    
        background-color: #111;
    }

    footer {
        padding: 50px 30px 50px;
        
    }

    footer div p {
        font-size: 12px;
        line-height: 13px;
    }
    footer div a {
        text-decoration: none;
    }

    .card-plus-letter {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        width: 100%;
        gap: 10px;
        
    }

    .card-plus-letter span img {
       width: 20px;
       height: auto;
    }

    .card-plus-letter p {
        font-size: 15px;
     }

     .made-by p {
        font-size: 12px;
        line-height: 12px;
     }

    .card-plus-letter span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
    
        border: 2px solid white;
        border-radius: 100%;
    }

    .section-1 {
        display: flex;
        flex-direction: row;
        height: 15vh;
    
        margin-bottom: 0px !important;
    
    }

    .section-1 .top-image img {
        width: 100%;
        height: auto;
    }

    .section-1 .top-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width: 50%;
        height: 15vh;
        padding: 0px;
        background-color: #111;
    
    }

    .section-1 .top-menu h1 {
        font-size: 8px;
        line-height: 8px;
        margin: 0;
        margin-bottom: 10px;
    }

    .section-1 .top-menu p {
        font-size: 6px;
        line-height: 6px;
    }

    .cats-bibi {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 85%;
    
        margin-top: 10px;
    }
    
    
    .cats-bibi button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        outline: none;
        border: 1px solid white;
        
        padding: 5px;
        width: 30px;
        font-size: 5px;
    }

    .section-center .muie .img {
        width: 100px;
    }

    .section-center nav{
        width: 100%;
        height: 50px;
        background-color: #ffff;
        position: absolute;
        top: 40%;
    
        color: #111;
        font-size: 30px;
        text-align: center;
        font-weight: 800;
        
    }

    .section-center .muie p {
        font-size: 5px;
        line-height: 5px;
        
    }

    .menu-3-a {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 0;
    
        width: 50%;
    }
    
    .menu-3-a h1 {
        font-size: 8px;
        line-height: 8px;
        margin: 0;
    }

    .menu-3-a nav {
        width: 80%;
        height: 1px;
        background-color: white;
        margin: 15px 0;
    }
    
    .menu-3-a div h3 {
        font-size: 8px;
        line-height: 8px;
        margin: 0;
    }

    .menu-3-a div {
       display: flex;
       flex-direction: row;
       align-items: center;
    
    }
    
    .menu-3-a div a img {
    
        width: 15px;
        height: auto;
        
    
    }
    
    .menu-3-a input {
        
        margin: 30px 0;
        outline: none;
        border-radius: 50px;
        border: 2px solid white;
        padding: 15px 15px;
        width: 300px;
        background-color: transparent;
    
    }
    
    
    .menu-3-a p {
    
        font-size: 6px;
        line-height: 6px;
        width: 180px;
        
    
    }

    video {
        width: 100%; /* Defina a largura desejada */
        height: 22vh; /* Defina a altura desejada */
        object-fit: cover; /* Garante que o vídeo preencha a área */
        display: block; /* Evita margens inesperadas */
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .card-cat span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
    
        border: 2px solid white;
        border-radius: 100%;
    }

    

    .card-cat span img {
        width: 20px;
        height: auto;
     }

    .cats-bibi .name-cat {
        transition: 0.5s;
        color: white;
        z-index: 5;
    }
    
    .cats-bibi .name-cat:hover {
        background-color: #fff;
        border: 2px solid #fff;
        cursor: pointer;
        color: #111;
        font-weight: 500;
        z-index: 5;
    }

    

  }
 



